/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

#body_hors_footer
{
    margin: auto;
    max-width: 1200px;
    background: white;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    color: black;
}

p
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 110%;
}

h1
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 140%;
}

h2 
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 130%;
    margin: 25px 0 15px 0;
}

h3
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 100%;
    margin: 40px 0 40px 15px;
}

h4
{
    font-family: Raleway-Bold, Aral, serif;
    font-size: 85%;
}

h5
{
    font-family: Raleway-Regular, Arial, serif;
    font-size: 85%;
    font-weight: lighter;
}

h6
{
    font-family: Raleway-Regular, Arial, serif;
    font-size: 75%;
    font-weight: lighter;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    font-weight: bolder;
    color: #0065FC
}

/* Header */

header
{
    display: flex;
    width: 100%;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#titre_principal h1
{
    margin-bottom: 10px;
    overflow-wrap: normal;
}

#titre_principal h5
{
    margin-top: 0px;
}

#logo_nav
{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

#logo_nav img
{
    padding: 20px 20px 20px 0;
}

/* Navigation */

#logo_nav nav ul
{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 5px;
}

nav li a
{
    display: block;
    color: black;
    padding: 20px 10px 0 25px;
    border-top: 2px solid transparent;
    text-decoration: none;
}

#navins h4
{
    color: #0065FC;
    margin: 0;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Reprise en-tête */

#choix_lieu
{
    display: inline-block;
}

#choix_lieu img
{
    float: left;
    padding: 12px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

#lieu
{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
    font-size: 115%;
    padding: 10px 10px 11px 10px;
}

#choix_lieu label
{
    background-color: #0065FC;
    font-family: Raleway-Regular, Arial, sans-serif;
    font-size: 100%;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 12px 10px 11px 10px;
}

#style_sejour
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 35px;
    font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
    font-size: 110%;
}

#style_sejour p
{
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 5%;
    padding: 1.8% 0 1.8% 0 ;
}

#sejour input[type="checkbox"]
{
    display: none;
}

#sejour
{
    width: 110%;
}

#sejour label
{
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 2%;
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 40px;
    padding: 8px 10px 10px 0px;
}

#sejour label:hover
{
    color: #0065fc;
    background-color: #DEEBFF;
}

input#economique[type="checkbox"] + label::before
{
   content: url(money-bill-wave-solid.svg);
   background-color: #deebff;
   padding: 12px 17px 17px 12px;
   display: inline-block;
   height: 15px;
   width: 15px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

input#familial[type="checkbox"] + label::before
{
   content: url(child-solid.svg);
   background-color: #deebff;
   padding: 12px 16px 17px 13px;
   display: inline-block;
   height: 15px;
   width: 15px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

input#romantique[type="checkbox"] + label::before
{
   content: url(heart-solid.svg);
   background-color: #deebff;
   padding: 12px 17px 17px 12px;
   display: inline-block;
   height: 15px;
   width: 15px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

input#animaux[type="checkbox"] + label::before
{
   content: url(dog-solid.svg);
   background-color: #deebff;
   padding: 12px 18px 17px 11px;
   display: inline-block;
   height: 15px;
   width: 15px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

#icon_info
{
    display: inline-block;
    overflow: auto;
    vertical-align: middle;
    margin-top: 20px;
}

#icon_info img
{
    float: left;
    margin-right: 15px;
}

#image_info img
{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 2px;
    height: 15px;
    width: 15px;  
}


/* Corps */

section1
{
    display: flex;
    margin-bottom: 62px;
}

aside
{
   float: right;
   width: 30%;
   height: 604px;
   display: flex;
   flex-direction: column;
   background-color: #F2F2F2;
   border-radius: 8px;
   padding: 15px;
}

#titrepopu
{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
}

#titrepopu img 
{
    max-width: 24px;
    max-height: 24px;
    padding-top: 25px;
}

aside .popu
{
    width: 91.7%;
    height: 145px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #c2c2c2;
    margin: 15px;
}

.popu img
{
    width: 36%;
    height: 137px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    float: left;
    margin: 4px; 
}

.popu .textpopu
{
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    max-width: 48%;
    height: 130px;
    margin: 0px 0 5px 0px;
    padding: 10px;
}

aside h4
{
    margin: 0px;
    padding: 0;
}

aside h6
{
    margin: 0px;
    padding: 0;
}

.starspopu img
{
    float: none;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0;
}

/* Partie Hébergements */

article
{
    padding: 15px;
    height: 30%;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 8px;
}

#hebergements
{
    text-align: left;
    margin-left: 15px;
    padding: 0;
}

article .blocks
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 220px);
}

.heberg
{
    display: inline-block;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0px 4px 8px #C2C2C2;
}

.heberg img
{
    width: 96%;
    max-width: inherit;
    height: 120px;
    object-fit: cover;
    padding: 2%;
    border-radius: 8px 8px 0px 0px;
}

article h4, article h6
{
    padding: 0px;
    margin: 5px 5px;
}

article .star
{
    display: inline;
    margin: 0 0 0px 0;
    padding: 0;
    width: 13px;
    height: 12px;
}

.stars
{
    margin: 0px 0 0 0;
    padding: 0 0 0 5px;
}

#cannebiere
{
    grid-column: 1;
    grid-row: 1;
}

#mer
{
    grid-column: 1;
    grid-row: 2;
}

#port
{
    grid-column: 2;
    grid-row: 1;
}

#panier
{
    grid-column: 2;
    grid-row: 2;
}

#mouettes
{
    grid-column: 3;
    grid-row: 1;
}

#amina
{
    grid-column: 3;
    grid-row: 2;
}

/* Partie Activités */

#section2 
{
    margin-top: 30px;
    padding: 0;
    max-height: 25%;
    width: 100%;
}

#activites
{
    text-align: left;
    margin: 0 0 10px 5px;
    padding: 18px 0 18px 0;
}

#section2 .blocksa
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3%;
}

.activ
{
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    padding: 0;
    box-shadow: 0px 4px 10px #F2F2F2;
}

.activ img
{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin: 0;
    padding: 0;
}

.activ h4
{
    padding-left: 10px;
}

#vieux_port
{
    grid-column: 1;
    grid-row: 1 / 5;
    height: 417px;
}

#vieux_port img
{
    height: 364px;
}

#pomegues
{
    grid-column: 2;
    grid-row: 1 / 3;
    height: 221px;
}

#pomegues img
{
    height: 168px;
}

#frioul
{
    grid-column: 2;
    grid-row: 4 / 5;
    height: 152px;
}

#frioul img
{
    height: 99px;
}

#calanques
{
    grid-column: 3;
    grid-row: 1 / 5;
    height: 417px;
}

#calanques img
{
    height: 364px;
}

#nd
{
    grid-column: 4;
    grid-row: 1 / 2;
    height: 182px;
}

#nd img
{
    height: 129px;
}

#longchamp
{
    grid-column: 4;
    grid-row: 3 / 5;
    height: 195px;
}

#longchamp img
{
    height: 142px;
}

/* Footer */

footer
{
    width: unset;
    margin-top: 58px;
    padding-bottom: 30px;
    background-color: #F2F2F2;
}

#footer_intra
{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: auto;
}

.bas
{
    display: flex;
    flex-direction: column;
    width: 33%; 
    margin-left: 5px;
}

.bas h3
{
    margin-left: 0;
    margin-bottom: 10px;
}

.bas h5
{
    padding: 0;
    margin: 10px 0 0px 0;
}

@media all and (max-width: 920px) 
{
    body
    {
        width: auto;
    }

    #style_sejour
    {
        display: block;
    }

    #section2 h2
    {
        margin-left: 15px;
        margin-bottom: 0px;
    }

    footer 
    {
        margin-top: 40px;
    }

    #footer_intra
    {
        margin-left: 15px;
    }
}

@media all and (max-width: 820px) 
{
    body h4
    {
        font-size: 100%;
    }
    
    #sejour
    {
        max-width: 570px;
    }

    #sejour label
    {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    #section1
    {
        flex-direction: column;
        align-items: center;
    }

    aside
    {
        float: none;
        width: 100%;
        max-height: 550px;
        border-radius: 0;
        padding: 15px;
    }

    #titrepopu
    {
        justify-content: left;
    }

    #titrepopu h2
    {
        min-width: 85%; 
        margin-bottom: 15px;
    }

    #titrepopu img
    {
        width: 22px;
        height: 22px;
        padding-top: 25px;
    }

    aside .popu
    {
        width: 85%;
        max-height: 145px;
        border-radius: 15px;
        margin: 15px 15px 0 15px;
    }

    .textpopu h4
    {
        padding-top: 5px;
    }

    .textpopu h6
    {
        font-size: 90%;
        padding-top: 5px;
    }

    .popu img
    {
        border-radius: 14px 0 0 14px;
        width: 40%;
    }
    
    .starspopu img 
    {
        width: initial;
    }

    article
    {
        padding-top: 10px;
        width: 100%;
        background-color: white; 
        border-radius: 0;
    }

    article .blocks
    {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, 220px);
    }

    .heberg
    {
        border-radius: 20px;
        margin: 5px 15px;
        padding-bottom: 10px;
    }

    .heberg img
    {
        border-radius: 19px 19px 0 0;
        height: 113px;
        padding-bottom: 0px;
    }

    .stars
    {
        padding-left: 15px;
        padding-top: 5px;
    }

    article .star
    {
        height: unset;
    }

    .heberg h4
    {
        margin-bottom: 0px;
        margin-top: 3px;
        padding-left: 10px;
    }

    .heberg h6
    {
        font-size: 87%;
        margin-bottom: 0px;
        padding-left: 10px;
    }

    article h3
    {
        margin-top: 30px;
        margin-bottom: 22px;
        font-weight: bolder;
    }

    #section2
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    .activ
    {
        border-radius: 10px;
    }

    .activ img
    {
        border-radius: 10px 10px 0 0;
    }

    .activ h4
    {
        margin-top: 10px;
    }

    #section2 .blocksa
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 3%;
    }

    #vieux_port
    {
        grid-column: 1;
        grid-row: 1;
        height: 192px;
    }

    #vieux_port img 
    {
        height: 136px;
    }
    
    #pomegues
    {
        grid-column: 2;
        grid-row: 1;
        height: 192px;
    }

    #pomegues img 
    {
        height: 136px;
    }
        
    #frioul
    {
        grid-column: 3;
        grid-row: 1;
        height: 192px;
    }
    
    #frioul img 
    {
        height: 136px;
    }

    #calanques
    {
        grid-column: 1;
        grid-row: 2;
        height: 192px;
    }
    
    #calanques img 
    {
        height: 136px;
    }

    #nd
    {
        grid-column: 2;
        grid-row: 2;
        height: 192px;
    }
    
    #nd img 
    {
        height: 136px;
    }

    #longchamp
    {
        grid-column: 3;
        grid-row: 2;
        height: 192px;
    }

    #longchamp img 
    {
        height: 136px;
    }

}


@media all and (max-width: 530px)
{
    body
    {
        width: auto;
        margin: auto;
    }

    body h5
    {
        font-size: 95%;
    }

    #logo_nav img 
    {
        padding-left: 15px;
    }

    #logo_nav nav ul
    {
        position: static;
    }

    #navins
    {
        position: absolute;
        right: 5px;
        text-decoration: none;
    }
    
    #navheb
    {
        position: absolute;
        top: 60px;
        padding: 30px 35px 15px 35px;
        right: 50%;
        border-bottom: 1px #F2F2F2 solid;
    }

    #navheb h5
    {
        margin-bottom: 0px;
        font-size: 90%;
    }

    #navact
    {
        position: absolute;
        top: 60px;
        right: 0px;
        left: 50%;
        padding: 30px 10px 15px 60px;
        margin-bottom: 10px;
        border-bottom: 1px #F2F2F2 solid;
    }

    #navact h5
    {
        margin-bottom: 0px;
        font-size: 90%;
    }

    #navheb:hover
    {
        border-top: none;
        border-bottom: 4px #0065FC solid;
    }

    #navact:hover
    {
        border-top: none;
        border-bottom: 4px #0065FC solid;
    }

    #titre_principal h1
    {
        margin: 40px 15px 10px 15px;
        font-size: 132%;
        font-weight: bolder;
    }

    #titre_principal h1 + h5
    {
        margin: 5px 15px 40px 15px;
        font-size: 95%;
        font-weight: bolder;
    }

    #choix_lieu
    {
        margin: 0 15px;
    }

    #choix_lieu_mq
    {
        display: flex;
    }

    #choix_lieu img
    {
        padding: 15px;
        width: 18px;
        height: 18px;
    }

    #lieu
    {
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        border-left: none;
        border-right: none;
        font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
        font-size: 108%;
        padding: 12px 10px 13px 10px;
        margin-right: 0;
    }

    #choix_lieu label
    {
        content: url(search-solid.svg);
        width: 17px;
        height: 17px;
        background-color: #0065FC;
        font-family: Raleway-Regular, Arial, sans-serif;
        font-size: 100%;
        color: white;
        border-radius: 12px 12px 12px 12px;
        padding: 15px 15px 14px 14px;
    }

    #style_sejour
    {
        margin: 25px 15px 0px 15px;
        font-size: 100%;
    }

    #style_sejour p 
    {
        font-size: 105%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #sejour
    {
        max-width: 350px;
    }

    #sejour label
    {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 13px;
    }

    #icon_info
    {
        margin: 5px 15px 15px 15px;
    }
    
    #image_info h5
    {
        font-weight: bolder;
    }

    aside .popu
    {
        margin-top: 10px;
        box-shadow: 0px 4px 8px #dddddd;
    }

    article .blocks
    {
        display: flex;
        flex-direction: column;
    }
    
    .heberg
    {
        width: 85%;
        box-shadow: 0px 4px 8px #F2F2F2;
    }

    #section2 .blocksa
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activ
    {
        width: 90%;
        height: 190px;
        margin: 10px 10px 10px 15px;
        border-radius: 20px;
    }

    .activ img 
    {
        height: 75%;
        border-radius: 20px 20px 0 0;
    }

    .activ h4
    {
        font-size: 100%;
        margin: 0px;
        padding: 15px 0 15px 25px;
    }

    #nd img 
    {   
        object-position:top;
    }

    #longchamp img 
    {   
        object-position:center;
    }

    #footer_intra
    {
        flex-direction: column;
    }

    .bas
    {
        width: 100%;
        margin-left: 20px;
    }

    .bas h3
    {
        font-size: 107%;
        font-weight: bolder;
        margin-top: 43px;
    }

    .bas h5
    {
        font-size: 95%;
        margin-top: 13px;
    }
}
