/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    margin: auto;
    max-width: 1200px;
    background: white;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    color: black;
}

p
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 110%;
}

h1
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 140%;
}

h2 
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 130%;
}

h3
{
    font-family: Raleway-Bold, Arial, serif;
    font-size: 100%;
}

h4
{
    font-family: Raleway-Bold, Aral, serif;
    font-size: 85%;
}

h5
{
    font-family: Raleway-Regular, Arial, serif;
    font-size: 85%;
}

h6
{
    font-family: Raleway-Regular, Arial, serif;
    font-size: 75%;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    font-weight: bolder;
    color: #0065FC
}

/* Header */

header
{
    display: flex;
    width: 100%;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#titre_principal h1
{
    margin-bottom: 10px;
}

#titre_principal h5
{
    margin-top: 0px;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav li a
{
    color: black;
    padding: 20px 10px 0 10px;
    border-top: 2px solid transparent;
    text-decoration: none;
    width: inherit;
    height: inherit;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

nav a:visited
{
    font-family: 'Raleway-Bold', serif;
    color: #0065FC;
}

/* Reprise en-tête */

#choix_lieu
{
    display: inline-block;
}

#choix_lieu .align1
{
    vertical-align: middle;
}

.align1 select
{
    appearance: none;
}

#choix_lieu img
{
    float: left;
    padding: 12px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

#lieu
{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
    font-size: 115%;
    padding: 10px;
}

#choix_lieu label
{
    background-color: #0065FC;
    font-family: Raleway-Regular, Arial, sans-serif;
    font-size: 100%;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 12px 10px 10px 10px;
}

#style_sejour
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
    font-size: 110%;
}

#style_sejour p
{
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 5%;
    padding: 1.8% 0 1.8% 0 ;
}

#sejour
{
    width: 950px;
}

#sejour input[type="checkbox"]
{
    display: none;
}

#sejour label
{
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 2%;
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 40px;
    padding: 8px 10px 10px 0px;
}

input#economique[type="checkbox"] + label::before
{
   content: url(money-bill-wave-solid.svg);
   background-color: #deebff;
   padding: 8px 9px 9px 9px;
   display: inline-block;
   height: 26px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

input#familial[type="checkbox"] + label::before
{
   content: url(child-solid.svg);
   background-color: #deebff;
   padding: 8px 9px 9px 9px;
   display: inline-block;
   height: 26px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

input#romantique[type="checkbox"] + label::before
{
   content: url(heart-solid.svg);
   background-color: #deebff;
   padding: 8px 9px 9px 9px;
   display: inline-block;
   height: 26px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

input#animaux[type="checkbox"] + label::before
{
   content: url(dog-solid.svg);
   background-color: #deebff;
   padding: 8px 9px 9px 9px;
   display: inline-block;
   height: 26px;
   vertical-align: middle;
   border-radius: 50%;
   margin-left: 0px;
   margin-right: 10px;
}

#icon_info
{
    display: inline-block;
    overflow: auto;
    vertical-align: middle;
    margin-top: 4%;
}

#icon_info img
{
    float: left;
    margin-right: 15px;
}

#image_info img
{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 2px;
    height: 15px;
    width: 15px;  
}


/* Corps */

section1
{
    display: flex;
    margin-bottom: 62px;
}

aside
{
   float: right;
   width: 30%;
   height: 562px;
   display: flex;
   flex-direction: column;
   background-color: #F2F2F2;
   border-radius: 8px;
   padding: 15px 25px;
}

#titrepopu
{
    display: inline-flex;
    justify-content: space-between;
    vertical-align: top;
    margin: 0px;
    padding: 0;
}

aside #soleil
{
    width: 100%;
    height: 135px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #aaaaaa;
    margin: 15px 0;
}

#soleil img
{
    max-width: 36%;
    height: 125px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    float: left;
    margin: 5px; 
}

#soleil #textsoleil
{
    display: flex;
    flex-direction: column;
    max-width: 48%;
    max-height: 130px;
    margin: 0px 0 5px 0px;
    padding: 10px;
}

aside h4
{
    margin: 0px;
    padding: 0;
}

aside h6
{
    margin: 0px;
    padding: 5% 0 30% 0;
}

#textsoleil img
{
    width: 10px;
    height: 10px;
    margin: 1px;
    padding: 0;
}

aside #eau
{
    width: 100%;
    height: 135px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #aaaaaa;
    margin: 15px 0;
}

#eau img
{
    max-width: 36%;
    height: 125px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    float: left;
    margin: 5px; 
}

#eau #texteau
{
    display: flex;
    flex-direction: column;
    max-width: 48%;
    max-height: 130px;
    margin: 0px 0 5px 0px;
    padding: 10px;
}

#texteau img
{
    width: 10px;
    height: 10px;
    margin: 1px;
    padding: 0;
}

aside #bleu
{
    width: 100%;
    height: 135px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #aaaaaa;
    margin: 15px 0;
}

#bleu img
{
    width: 36%;
    height: 125px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    float: left;
    margin: 5px; 
}

#bleu #textbleu
{
    display: flex;
    flex-direction: column;
    max-width: 48%;
    max-height: 130px;
    margin: 0px 0 5px 0px;
    padding: 10px;
}

#textbleu img
{
    width: 10px;
    height: 10px;
    margin: 1px;
    padding: 0;
}

/* Partie Hébergements */

article
{
    padding: 15px;
    height: 30%;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 8px;
}

#hebergements
{
    text-align: left;
    margin: 0 0 10px 5px;
    padding: 18px 0 18px 0;
}

article .blocks
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 220px);
}

.heberg
{
    display: inline-block;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0px 2px 5px #aaaaaa;
}

.heberg img
{
    width: 96%;
    max-width: inherit;
    height: 120px;
    object-fit: cover;
    padding: 2%;
    border-radius: 8px 8px 0px 0px;
}

article h4
{
    font-size: 14px;
}

article h4, article h6
{
    padding: 0px;
    margin: 5px 5px;
}

article .star
{
    display: inline;
    margin: 0 0 1px 0;
    padding: 0;
    width: 10px;
    height: 10px;
}

.stars
{
    margin: 0px 0 0 0;
    padding: 0 0 0 5px;
}

#cannebiere
{
    grid-column: 1;
    grid-row: 1;
}

#mer
{
    grid-column: 1;
    grid-row: 2;
}

#port
{
    grid-column: 2;
    grid-row: 1;
}

#panier
{
    grid-column: 2;
    grid-row: 2;
}

#mouettes
{
    grid-column: 3;
    grid-row: 1;
}


#amina
{
    grid-column: 3;
    grid-row: 2;
}

/* Partie Activités */

#section2 
{
    margin-top: 25px;
    padding: 0;
    height: 25%;
    width: 100%;
}

#activites
{
    text-align: left;
    margin: 0 0 10px 5px;
    padding: 18px 0 18px 0;
}
#section2 .blocksa
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3%;
    grid-template-rows: repeat (10, 1fr);
    grid-auto-rows: minmax(40px, auto);
}

.activ
{
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    padding: 0;
    box-shadow: 0px 2px 5px #aaaaaa;
}

.activ img
{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin: 0;
    padding: 0;
}

.activ h4
{
    padding-left: 10px;
}

#vieux_port
{
    grid-column: 1;
    grid-row: 1 / 11;
    height: 417px;
}

#vieux_port img
{
    height: 364px;
}

#pomegues
{
    grid-column: 2;
    grid-row: 1 / 6;
    height: 221px;
}

#pomegues img
{
    height: 168px;
}

#frioul
{
    grid-column: 2;
    grid-row: 7 / 11;
    height: 152px;
}

#frioul img
{
    height: 99px;
}

#calanques
{
    grid-column: 3;
    grid-row: 1 / 11;
    height: 417px;
}

#calanques img
{
    height: 364px;
}

#nd
{
    grid-column: 4;
    grid-row: 1 / 5;
    height: 182px;
}

#nd img
{
    height: 129px;
}

#longchamp
{
    grid-column: 4;
    grid-row: 6 / 11;
    height: 195px;
}

#longchamp img
{
    height: 142px;
}

/* Footer */

footer
{
    display: flex;
    padding-top: 58px;
}

.bas
{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: none;
}

.bas a
{
    padding: 0;
    margin: 0;
}

