/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    margin-left: 3.5%;
    width: 100%;
    background: white;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    color: black;
}

p
{
    font-family: Raleway-Bold, serif;
    font-size: 20px;
}

h1
{
    font-family: Raleway-Bold, serif;
    font-size: 140%;
}

h2 
{
    font-family: Raleway-Bold, serif;
    font-size: 130%;
}

h3
{
    font-family: Raleway-Bold, serif;
    font-size: 100%;
}

h4
{
    font-family: Raleway-Bold, serif;
    font-size: 90%;
}

h5
{
    font-family: Raleway-Regular, serif;
    font-size: 90%;
}

h6
{
    font-family: Raleway-Regular, serif;
    font-size: 80%;
}

/* Header */


/* Footer */

footer
{
    display: flex;
    padding-top: 60px;
}

.bas
{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    margin-left: none;
    border: 1px black solid;
}

footer ul
{
    font-family: Raleway-Regular, serif;
    font-size: 90%;
    color: black;
    text-decoration: none;
    list-style-type: none;
}